@import url('https://fonts.googleapis.com/css2?family=Lora&family=Quicksand:wght@300&display=swap');

:root{
  --primaryColor: #54a0ff;
  --primaryDark: #2e86de;
  --mainWhite: #fff;
  --mainBlack: #222;
  --darkGrey: #5f5e5e;
  --primaryRGBA: rgba(0,0,0,0.3);
  --mainTransition: all 0.3s ease-in-out;
  --mainSpacing: 0.3rem;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Quicksand', sans-serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainBlack);
}

.text-main {
  color: var(--primaryColor);
}

.text-title{
  font-family: 'Lora', serif;
  font-weight: bold;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}


